POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="mydatabase"

NODE_ENV="development"
PORT="3000"
CORS_ORIGIN="http://localhost:5173,http://localhost:3000"

DATABASE_URL="postgresql://user:password@localhost:5432/mydatabase"